name: Backend build lambdas DEV

env:
    AWS_REGION : "eu-west-2"
    AWS_ROLE_TO_ASSUME: arn:aws:iam::891377009928:role/GitHub_ofladby

# Permission can be added at job level or workflow level    
permissions:
    id-token: write   # This is required for requesting the JWT
    contents: read    # This is required for actions/checkout

on:
  push:
    branches:
      - dev      
    paths:
      - testing_A/*
      - testing_B/*
      - .github/workflows/lambda_build_dev.yml

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          ref: dev

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::891377009928:role/GitHub_ofladby
          role-session-name: Brain-DEV
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Profile
        shell: bash
        run: |
          aws configure set region ${{ env.AWS_REGION }} --profile Brain-DEV
          aws configure set aws_session_token ${{ env.AWS_SESSION_TOKEN }} --profile Brain-DEV
          aws configure set aws_access_key_id ${{ env.AWS_ACCESS_KEY_ID }} --profile Brain-DEV
          aws configure set aws_secret_access_key ${{ env.AWS_SECRET_ACCESS_KEY }} --profile Brain-DEV
      
      - name: Reset AWS Environment Variables
        shell: bash
        run: |
          echo "AWS_ACCESS_KEY_ID=" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=" >> $GITHUB_ENV
          echo "AWS_SESSION_TOKEN=" >> $GITHUB_ENV

      - name: Make lambdas
        shell: bash
        run: |
          make all

      # Hello from AWS: WhoAmI
      - name: Sts GetCallerIdentity
        run: |
          aws sts get-caller-identity --profile Brain-DEV